In [11]:
import pandas as pd
import numpy as np

In [12]:
csv_path = "Resources/Homework 4 Pandas_HeroesOfPymoli_Resources_purchase_data.csv"
pymoli_df = pd.read_csv(csv_path)
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [13]:
players = pymoli_df['SN'].nunique()
pd.DataFrame({"Total Number of Players": [players]})

   Total Number of Players
0                      576

In [14]:
items = pymoli_df['Item ID'].nunique()
price = pymoli_df['Price'].mean()
purchases = pymoli_df['Purchase ID'].count()
revenue = pymoli_df['Price'].sum()

summary_df = pd.DataFrame({'Number of Unique Items': [items], 'Average Purchase Price': [price], 'Total Number of Purchases': [purchases], 'Total Revenue':  [revenue]})
summary_df['Average Purchase Price'] = summary_df['Average Purchase Price'].map("${:,.2f}".format)
summary_df['Total Revenue'] = summary_df['Total Revenue'].map("${:,.2f}".format)
summary_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

In [15]:
genderdem_df = pymoli_df.groupby(['Gender'])
count = genderdem_df['SN'].nunique()
percentage =count/players*100

genderdem_df2 = pd.DataFrame({'Total Count': count, 'Percentage of Players': percentage})
genderdem_df2['Percentage of Players'] = genderdem_df2['Percentage of Players'].map("{:,.2f}%".format)
genderdem_df2

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [16]:
purcount = genderdem_df["Purchase ID"].count()
app = genderdem_df["Price"].mean()
totalpv = genderdem_df["Price"].sum()
avgpurperperson = totalpv / count

purchase_df = pd.DataFrame({"Purchase Count": purcount, "Average Purchase Price": app,"Total Purchase Value": totalpv, "Average Total Purchase per Person": avgpurperperson})

purchase_df["Average Purchase Price"] = purchase_df["Average Purchase Price"].map("${:,.2f}".format)
purchase_df["Total Purchase Value"] = purchase_df["Total Purchase Value"].map("${:,.2f}".format)
purchase_df["Average Total Purchase per Person"] = purchase_df["Average Total Purchase per Person"].map("${:,.2f}".format)
purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [10]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
labels = ['< 10', '10 - 14', '15 - 19', '20 - 24', '25 - 29', '30 - 34', '35 - 39', '> 40']

pymoli_df['Age Labels'] = pd.cut(pymoli_df['Age'], bins, labels = labels)
age_df = pymoli_df.groupby(['Age Labels'])
age = age_df['SN'].nunique()
percent = age / players * 100
age_df2 = pd.DataFrame({'Total Count': age, 'Percentage of Players': percent})
age_df2["Percentage of Players"] = age_df2['Percentage of Players'].map('{:.2f}%'.format)
age_df2

            Total Count Percentage of Players
Age Labels
< 10                 17                 2.95%
10 - 14              22                 3.82%
15 - 19             107                18.58%
20 - 24             258                44.79%
25 - 29              77                13.37%
30 - 34              52                 9.03%
35 - 39              31                 5.38%
> 40                 12                 2.08%