In [1]:
import pandas as pd

In [4]:
csv_path = "Resources/Homework 4 Pandas_HeroesOfPymoli_Resources_purchase_data.csv"
pymoli_df = pd.read_csv(csv_path)
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [19]:
players = pymoli_df['SN'].nunique()
pd.DataFrame({
    "Total Number of Players": [players]
})

   Total Number of Players
0                      576

In [20]:
items = pymoli_df['Item ID'].nunique()
price = pymoli_df['Price'].mean()
purchases = pymoli_df['Purchase ID'].count()
revenue = pymoli_df['Price'].sum()

summary_df = pd.DataFrame({
    "Number of Unique Items": [items], "Average Purchase Price": [price], "Total Number of Purchases": [purchases], "Total Revenue":  [revenue]})
summary_df["Average Purchase Price"] = summary_df["Average Purchase Price"].map("${:,.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)
summary_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"